/* PC */
@media (min-width:992px) {}

/* Tablet & mobile */
@media (max-width:991.98px) {

  /* 1. Ẩn đi navbar */
  .navbar {
    display: none;
  }

  .header-top {
    position: relative;
  }

  /* 2. Chuyển logo vào giữa */
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /*3 Căn lại vị trí icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* 4.Overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    /* Bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.5s;
  }

  .menu-checkbox:checked~.menu-overlay {
    opacity: 1;
    visibility: visible;
  }

}

/* Tablet */
@media (min-width:768px) and (max-width :991.98px) {}

/* Mobile */
@media (max-width:767.98px) {}

.hero,
.footer,
main {
  display: none;
}